@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

@font-face {
    font-family: sfu-font;
    src: url('../font/sfu/SFUFuturaBook.TTF') format('truetype');
    font-weight: normal;
}

:root {
    --background-color: #FFFDFB;
    --price-color: #DA5036;
    --text-color: #454545;
    --title-color: #9B4D35;
    --title-color-footer: #9D503B;
    --text-color-footer: #CB9586;
    --background-color-footer: #F9F6F2;
    --font-size-menu: 26px;
    --font-size-title: 120px;
    --font-text: 25px;
    --font-small-title: 30px;
    --font-title-footer: 26px;
    --font-text-footer: 20px;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);

}

main {
    background-color: var(--background-color);
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .row {
    width: 88%;
}

.header-logo {
    width: 30%;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-logo img {
    width: 100%;

}

.header-contact ul {
    flex-direction: row-reverse;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding: 0;
    margin: 0;
    line-height: 83px;
    display: flex;
    list-style-type: none;
}

nav li {
    font-size: var(--font-size-menu);
}

nav li a {
    text-decoration: none;
    padding: 0 10px;
    color: #9D503B;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

nav li a:hover {
    color: #E4937D;
}

.header-contact {
    width: 310px;
    height: 83px;
}

.banner {
    position: relative;
    height: 750px;
}

.banner img {
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.change-right {
    right: 5%;
    line-height: 100%;
    top: 50%;
    position: absolute;
    display: inline;
}

.change-left {
    left: 5%;
    line-height: 100%;
    top: 50%;
    position: absolute;
    display: inline;
}

.four-dot {
    text-align: center;
    width: 100%;
    line-height: 100%;
    bottom: 5%;
    position: absolute;
    display: block;
}

.four-dot svg {
    text-align: center;
}

.mooncake {
    padding-bottom: 200px;
}

.main-title h1 {
    margin: 150px 0px 99px 0;
    font-size: var(--font-size-title);
    font-style: normal;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--title-color);
}

.mooncake-product {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 375px;
    margin: 0 17px;
}

.product img {
    width: 100%;
}

.product-title {
    margin-top: 46px;
    text-align: center;
    font-family: sfu-font;
    font-size: var(--font-text);
}

.product-price {
    margin-top: 15px;
    text-align: center;
    color: var(--price-color);
    font-family: sfu-font;
    font-size: var(--font-text);
}

.bestseller {
    display: flex;
    justify-content: space-between;
    padding: 165px 0 50px 0;
}

.bestseller .main-title h1 {
    width: 100%;
    margin: 0;
    text-align: left;
    padding-bottom: 50px;
}


.product-list {

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-list-small {
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 514px;
    height: 151px;
    flex-shrink: 0;

}

.text p {
    text-align: justify;
    font-family: sfu-font;
    font-size: var(--font-text);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-about {
    margin: 120px 0 100px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-about .text {
    width: 709px;
    height: 297px;
    flex-shrink: 0;
}

.about-title h1 {
    text-align: left;
}

.about-title {
    padding: 0 17px;
    width: 50%;
}

.about-img {
    width: 40%;
    flex-shrink: 0;
}

.about-img img {
    width: 100%;
}

.our-product-item .product {
    position: relative;
    display: flex;
    justify-content: center;
}

.our-product-title p {
    background-color: initial;
    margin: 0;
    color: #FFFFFF;
}

.our-product-title {
    position: absolute;
    text-transform: uppercase;
    font-family: sfu-font;
    font-size: var(--font-small-title);
    font-weight: 400;
    bottom: 5px;
    background-color: initial;
}

.our-product-item,
.our-product {
    margin-bottom: 100px;
}

.branch {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.branch-odd,
.branch-even {
    justify-content: space-between;
}

.branch-odd {
    display: flex;
    flex-direction: row-reverse;
}

.branch-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 808px;
    height: 584px;
    flex-shrink: 0;
}

.title h3 {
    color: #9D503B;
    text-align: center;
    font-family: sfu-font;
    font-size: var(--font-small-title);
    margin-bottom: 50px;
}

.address p {
    text-align: center;
    font-family: sfu-font;
    font-size: var(--font-text);
    line-height: 52px;
}

.branch-img {
    width: 808px;
    height: 584px;
    flex-shrink: 0;
}

.branch-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.branch-even {
    display: flex;
}

.motto {
    display: flex;
    margin-bottom: 100px;
}

.motto-content {
    width: calc(100%/3);
    text-align: center;
}

.motto-img {
    margin: 100px 0 50px 0;
    height: 57px;
    flex-shrink: 0;
}

.motto-img img {
    text-align: center;
    height: 100%;
}

.motto-text {
    text-align: center;
}

.motto-text h3 {
    color: var(--title-color);
    font-family: sfu-font;
    font-size: var(--font-small-title);
}

.motto-text p {
    font-family: sfu-font;
    font-size: var(--font-text);
}

.foundation .text {
    width: 100%;
}

.foundation .text p {
    font-size: var(--font-small-title);
    text-align: center;
}

.foundation .text-2 p {
    padding: 50px 0;
    font-size: calc(var(--font-small-title) + 5px);
    text-align: center;
}

.foundation-img {
    height: 380px;
    margin-bottom: 50px;
}

.foundation-img img {
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: var(--background-color-footer);
    padding: 150px 0 50px 0;
    margin-top: 100px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.container {
    position: relative;
}

.footer-content {
    width: 22%;
}

.footer-content h3 {
    color: var(--title-color-footer);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-title-footer);
    font-weight: 600;
}

.footer-dec {
    color: var(--text-color-footer);
    text-align: justify;
    font-family: sfu-font;
    font-size: var(--font-text-footer);
    font-weight: 400;
}

.footer-dec p {
    line-height: 28px;
    color: var(--text-color-footer);
}

.f-about p {
    line-height: normal;
}

.footer-logo img {
    width: 100%;
}

.footer-logo {
    left: 0;
    bottom: -5%;
    position: absolute;
    width: 30%;
    flex-shrink: 0;
}

.chat {
    position: fixed;
    z-index: 2;
    right: 100px;
    bottom: 100px;
    width: 90px;
    height: 90px;
    background-color: #7B3823;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.line {
    padding: 50px 0 16px 0;
    display: flex;
    justify-content: center;
}

.line div {
    text-align: center;
    display: inline;
    width: 344px;
    height: 2px;
    background-color: #CB9587;
}

@media screen and (max-width: 1919px) {
    :root {
        --background-color: #FFFDFB;
        --price-color: #DA5036;
        --text-color: #454545;
        --title-color: #9B4D35;
        --title-color-footer: #9D503B;
        --text-color-footer: #CB9586;
        --background-color-footer: #F9F6F2;
        --font-size-menu: 16px;
        --font-size-title: 80px;
        --font-text: 15px;
        --font-small-title: 20px;
        --font-title-footer: 16px;
        --font-text-footer: 13px;
    }
    header {
        height: 100px;
    }

    .mooncake {
        padding-bottom: 75px;
    }

    .bestseller {
        padding: 0;
        margin: 0;
        margin-top: 100px;
    }

    .product-list-small {
        margin-bottom: 36px;
    }

    .main-about .text {
        width: 100%;
    }

    .main-about {
        margin-bottom: 0;
    }

    .branch-content,
    .branch-img {
        width: 50%;
    }

    .foundation .text-2 p {
        padding: 0;
    }

    .foundation-img {
        height: 100%;
        margin-bottom: 50px;
    }
}

@media (min-width: 1919px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1720px !important;
    }
}